/* Add a background color to the header element */
header{color: beige;}
/* Add a fun background color to the main element */
main{background-color: lightblue;}
/* Align the h1 containing your name in the center of the header*/
h1{text-align: center;}
/* Make your p tag a different color and italic */
p{color: antiquewhite; font: italic;}
/* Put a border around your image */
image{border: 2px full firebrick;}
/* Change the font-family of your list */
li{font-family: Arial, Helvetica, sans-serif;}
/* Add a background color to the footer element */
footer{background-color: lightgrey;}